
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Details{% endblock title %}
  {% block head %}
    {% endblock head %}
{% block content %}
    <div>
    <br><br><br>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-auto">
          <h2>{{ attraction.name }}</h2>
               <img src="{{ attraction.image.url }}">
        <p>{{ attraction.description }}</p>
            <p>{{ attraction.category }}</p>
            <p>Cena: {{ attraction.price }} zł</p>
            <h4>Dodaj do koszyka</h4>
        </div>
        <div class="col-sm-auto">
<div id="map" style="width:600px;height:600px;background:yellow"></div>


    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location
  var attract = {lat: {{ attraction.latitude }}, lng: {{ attraction.longitude }}};
  // The map, centered
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 16, center: attract});
  // The marker
  var marker = new google.maps.Marker({position: attract, map: map});
}
    </script>


        </div>
    </div>



    </div>




{% endblock %}