
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Details{% endblock title %}

{% block content %}
    <div>
    <br><br><br>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-auto">
          <h1>{{ attraction.name }}</h1>
        <p>{{ attraction.description }}</p>
            <p>{{ attraction.category }}</p>
            <p>Cena: {{ attraction.price }} zł</p>
        </div>
        <div class="col-sm-auto">
            <img src="{{ attraction.image.url }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            <h4>Dodaj do koszyka</h4>
        </div>
    </div>


    </div>
{% endblock %}