<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}FareWay{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

{% block head_css %}
            {% block head_css_site %}
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
{% endblock head_css %}
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
 <a class="navbar-brand" href="{% url 'home' %}">FareWay</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'attractions' %}">Atrakcje</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'my_route' %}">Twoja Trasa</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item ">
            <a class="nav-link" href="#">Witaj {{ user.get_username }}</a>
        </li>
          <p class="navbar-btn" style="margin-bottom: 0;">
          <a href="{% url 'logout' %}" class="btn btn-outline-light">Wyloguj</a>
          </p>
      {% else %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'register' %}">Zarejestruj się</a>
          </li>
          <p class="navbar-btn" style="margin-bottom: 0;">
            <a href="{% url 'login' %}" class="btn btn-outline-light">Zaloguj</a>
          </p>
      {% endif %}
  </ul>

</nav>
<br>


{% block content %}
    {% endblock %}
<div class="space">
    <br><br>
</div>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-uppercase">FareWay</h5>
                <p>Lorem ipsum</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-uppercase">LINKS</h5>
                <p>TA</p>
            </div>
        </div>
        <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: TA
    </div>
    </div>
</footer>
</body>
</html>