{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="jumbotron" style="padding: 35px;">
                <div class="row">
                    <div class="panel-heading text-center text-primary" style="font-size: 200%;">
                        Twoja lista tras:
                    </div>
                    <div class="table-responsive" draggable="true">
                        {% if route_list %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nazwa trasy</th>
                                    <th>Start trasy</th>
                                    <th>Koniec trasy</th>
                                    <th>Atrakcje</th>
                                    <th>Edytuj</th>
                                    <th>Usuń</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for route in route_list %}
                                    <tr>
                                        <td>{{ route }}</td>
                                        <td>{{ route.start }}</td>
                                        <td>{{ route.end }}</td>
                                        <td>{% for attraction in route.attractions.all %}
                                            <li>{{ attraction }}</li>
                                        {% endfor %}</td>
                                        <td>
                                            <a href="{% url 'route_config' route.id %}"
                                               class="btn btn-info btn-sm">
                                                <span class="glyphicon glyphicon-pencil"></span> Edytuj
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'remove_route' route.id %}"
                                               class="btn btn-danger btn-sm">
                                                <span class="glyphicon glyphicon-trash"></span> Usuń
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                      {% else %}
                        <div class="panel-heading text-center" style="font-size: 150%;">
                               Lista Twoich tras jest pusta, bo nie dodałeś jeszcze żadnej trasy. Dodaj teraz trasę
                               zwiedzania.
                           </div>
                        {% endif %}
                        <a href="{% url 'new_route' %}"
                           class="btn btn-block btn-success" draggable="true">Dodaj nową trasę</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
